.title{
	text-align: center;
}
.text{
	font-weight: bold;
	font-family: arial black;
	background-color: green;
}
.text1{
	color: red;
}
.div_profil{
	margin-left: 0px !important;
	margin-right: 0px !important;
	border:none !important;
}
div .text_error{
	color: red;
	font-weight: bold;
}
