.title{
	text-align: center;
}
.text{
	font-weight: bold;
	font-family: arial black;
	background-color: green;
}
.div_profil{
	margin-left: 0px !important;
	margin-right: 0px !important;
	border:none !important;
}
 .text_error{
	color: red;
	margin-left: 30px;
}
.ground{
	background:url('../images/7.jpg');
	background-position: fixed !important;
	}
.h1_ground{
	color:#ff9800;
}
.span_gly{
	color: #ff9800;

}
.bout{
	margin-bottom: 50px;
}
.span_span_gly{
	background-color: inherit !important;
}